@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat";
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2 {
  margin-top: 30px;
  text-align: center;
}
.choiceContainer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__item {
    width: 150px;
    height: 150px;
    border: 4px solid black;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(0.95);
    }
  }
}

.startBtn {
  display: block;
  margin: 50px auto;
  background: none;
  padding: 10px 30px;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.2em;

  &:hover {
    background: #ccc;
  }
}
.resultsContainer {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateX(50px);
}
.leftContainer,
.rightContainer {
  width: 350px;
  padding-right: 0 20px;
}
.leftContainer span,
.rightContainer span {
  font-weight: 700;
}

.leftContainer p:last-child span {
  line-height: 0;
  font-size: 20px;
  text-decoration: underline;
}

@media (max-width: 750px) {
  .resultsContainer {
    transform: translateX(0);
    width: 200px;

    .leftContainer {
      margin-bottom: 20px;
      p:last-child span {
        line-height: normal;
      }
    }
  }
}
